* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  /*background-image: url(./assets/fundo\ camuflado\ grande.jpg);*/
  background-color: black;
  background-size: cove;
  background-position: top center;
  background-repeat: repeat;
}

#container {
  color: white;
  font-size: 30px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  /*background-color: white;*/
  width: 100%;
  max-width: 1200px;
  margin: 20px auto 0px;
  text-align: center;
  padding: 16px 0px;
  background-image: url(./assets/fundo\ camuflado\ grande.jpg);
}

#profile {
  display: block;
  margin: 150px 300px 0px;
}

.profile1 {
  border-radius: 20px;
  border: 30px solid red;
  padding: 0px;
  display: inline-block;
  animation: mudaCor 2s infinite;
  margin: 150px 300px 0px;
}

@keyframes mudaCor {
  0% {
    border-color: red;
  }
  33% {
    border-color: blue;
  }
  66% {
    border-color: green;
  }
  100% {
    border-color: red;
  }
}

/*placas da promoções*/
#container p {
  background-color: red;
  border-radius: 0px;
  padding: 5px;
}

/*titulo dos itens*/
#container span {
  font-size: 30px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  display: block;
  padding: 10px;
  margin: 3px 300px;
  border-radius: 50px;
  background-color: green;
}

/*fotos dos itens*/
#container img {
  max-width: 600px;
  margin: 20px auto 0px;
  border: 10px solid green;
}

/*link do mercado livre*/
#container a {
  font-size: 30px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  display: block;
  margin: 3px 350px;
  padding: 10px 0px;
  border-radius: 50px;
  background-color: yellow;
  text-decoration: none;
  color: blue;
}

@media (max-width: 1200px) {
  #container {
    color: white;
    font-size: 20px;
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    /*background-color: white;*/
    width: 100%;
    max-width: 1200px;
    margin: 0px;
    text-align: center;
    padding: 10px 0px;
    background-image: url(./assets/1\ -\ fundo-de-camuflagem\ -\ Copia.jpg);
  }

  .profile1 {
    border-radius: 20px;
    border: 30px solid red;
    padding: 0px;
    display: inline-block;
    animation: mudaCor 2s infinite;
    margin: 70px 20px 0px;
  }

  @keyframes mudaCor {
    0% {
      border-color: red;
    }
    33% {
      border-color: blue;
    }
    66% {
      border-color: green;
    }
    100% {
      border-color: red;
    }
  }

  #profile {
    display: block;
    margin: 70px 50px 0px;
  }

  /*placas da promoções*/
  #container p {
    background-color: red;
    border-radius: 20px;
    padding: 3px;
  }

  /*titulo dos itens*/
  #container span {
    font-size: 20px;
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    display: block;
    padding: 0px 5px;
    margin: 3px 20px;
    border-radius: 10px;
    background-color: green;
  }

  /*fotos dos itens*/
  #container img {
    max-width: 370px;
    margin: 10px auto 0px;
    border: 5px solid green;
  }

  /*link do mercado livre*/
  #container a {
    font-size: 20px;
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    display: block;
    margin: 3px 100px;
    border-radius: 5px;
    background-color: yellow;
    text-decoration: none;
    color: blue;
  }
}
