* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  /*background-image: url(./assets/fundo\ camuflado\ grande.jpg);*/
  background-color: black;
  background-size: cove;
  background-position: top center;
  background-repeat: repeat;
}

#container {
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  max-width: 1000px;
  margin: 20px auto 0px;
  text-align: center;
  padding: 16px 0px;
}

#profile {
  display: block;
  padding: 5px;
  margin: 20px 300px;
  border-radius: 50px;
  background-color: green;
}

#container span{
  display: block;
  padding: 5px;
  margin: 20px 300px;
  border-radius: 50px;
  background-color: green;
}

#container p1 {
}

#container p2 {
}
#container p3 {
}
