* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  background-color: white;
  background-size: cove;
  background-position: top center;
  background-repeat: repeat;
}

#container {
  background-image: url(./assets/fundo\ camuflado\ grande.jpg);
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  max-width: 2000px;
  margin: 20px auto 0px;
  text-align: center;
}

#container {
  width: 100%;
  max-width: 2000px;
  margin: 20px auto 0px;
}