* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  /*background-image: url(./assets/fundo\ camuflado\ grande.jpg);*/
  background-color: black;
  background-size: cove;
  background-position: top center;
  background-repeat: repeat;
}

#container {
  color: white;
  font-size: 30px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  /*background-color: white;*/
  width: 100%;
  max-width: 1200px;
  margin: 20px auto 0px;
  text-align: center;
  padding: 16px 0px;
  background-image: url(./assets/fundo\ camuflado\ grande.jpg);
}

#profile {
  display: block;
  padding: 5px;
  margin: 70px 300px 0px;
  border-radius: 50px;
  background-color: green;
}

/*placas da promoções*/
#container p {
  background-color: green;
}

/*titulo dos itens*/
#container span {
  font-size: 30px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  display: block;
  padding: 1px;
  margin: 3px 100px;
  border-radius: 50px;
  background-color: green;
}

/*fotos dos itens*/
#container img {
  max-width: 400px;
  margin: 20px auto 0px;
  border: 10px solid green;
}

/*link do mercado livre*/
#container a {
  font-size: 30px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  display: block;
  margin: 3px 300px;
  border-radius: 50px;
  background-color: yellow;
  text-decoration: none;
  color: blue;
}
